body {
    margin: 0;
    padding: 0;
    background-color: black;
}

body.no-scroll {
    overflow: hidden;
}


.intro {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    /* background-image: url(../img/bg1.jpg); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.lorem {
    /* opacity: 0; */
    color: black;
    margin: 0;
    font-size: 10em;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.dos {
    height: 100vh;
    width: 100vw;
    min-height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

.dos .rata {
    width: 100px;
    left: 200px;
    bottom: 0;
    position: absolute;
}

.dos .lamp {
    position: absolute;
    bottom: 0;
    left: 55%;
    bottom: 0;
    height: auto;
    width: 250px;
    transform: translateX(-50%);
    transform-origin: 50% 100%;
    z-index: 3;
    will-change: opacity;
    display: block;
}

.dos .edif1 {
    height: auto;
    width: 640px;
    left: -127px;
    position: absolute;
    bottom: -40px;
    will-change: opacity;
    z-index: 1;
    display: block;
}

.dos .edif2 {
    height: auto;
    width: 671px;
    right: -229px;
    position: absolute;
    bottom: -87px;
    will-change: opacity;
    z-index: 1;
    display: block;
}