body {
    margin: 0;
    padding: 0;
    background-color: black;
}

body.no-scroll {
    overflow: hidden;
}


.intro {
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    /* background-image: url(../img/bg1.jpg); */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.lorem {
    /* opacity: 0; */
    color: black;
    margin: 0;
    font-size: 10em;
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
}

.dos {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

/* .dos .rata {
    width: 260px;
    left: 0;
    right: auto;
    bottom: 0;
    opacity: 1;
    z-index: 2;
} */

.dos .lamp {
  position: absolute;
  left: 55%;
  top: 62%;
  width: 250px;
  transform: translateX(-50%);
  transform-origin: 50% 100%;
  z-index: 3;
  will-change: opacity, visibility;
}
.dos .edif1 {
    width: 640px;
    left: -127px;
    position: absolute;
    bottom: -40px;
    will-change: opacity;
    z-index: 1;
}

.dos .edif2 {
    width: 671px;
    right: -229px;
    position: absolute;
    bottom: -87px;
    will-change: opacity;
    z-index: 1;
}